:root {
  --color-background-200: #020110;
  --color-background-100: hsl(244, 88%, 1%);
  --main-text-color-light: #ffffff;
  --accent-color-100: #a226b2;
  --accent-color-150: hsl(293, 65%, 80%);
  --accent-color-2: #0b6e56;
  --text-size-100: 1.6rem;
  --text-size-50: 1rem;

  --background-darken: rgba(0, 0, 0, 0.7);
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* general */
body {
  background-color: var(--color-background-100);
  color: var(--main-text-color-light);
  overflow-x: hidden;
  margin: 0;
  font-family: "poppins", sans-serif;
}

section {
  padding: 6rem 0;
  background-color: var(--color-background-100);
}

.section-heading {
  font-size: 3.23rem;
  font-weight: 200;
}

.active {
  color: var(--accent-color-150);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1rem;
  line-height: 2rem;
}

header {
  border-bottom: solid 1px var(--accent-color-150);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 1600px;
  margin: auto;
}

.top-nav {
  display: none;
}

.logo {
  max-height: 8rem;
}

.starry {
  background-image: url(/assets/starry\ night.jpg);
  background-size: cover;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 80vw;
}

nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: 1025px) {
  .top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: var(--text-size-100);
    align-items: center;
    gap: 1.5rem;
  }

  .checkbox {
    display: none;
  }

  .hero-buttons:hover {
    margin: 0 -44rem;
  }
  .animated-text::before {
    content: attr(data-text);
    position: absolute;
    color: var(--main-text-color-light);
    overflow: hidden;
    white-space: nowrap;
    animation: animate 2.5s ease-in-out;
    filter: drop-shadow(0 0 0.3em #fff);
  }

  .animated-text {
    position: relative;
    font-size: 3.5vw;
    color: var(--accent-color-100);
    text-transform: uppercase;
  }
  p {
    font-size: 1.2em;
    line-height: 2rem;
  }
  .new,
  .info-container {
    width: 85%;
    max-width: 1550px;
    padding: 4rem;
  }
}

@media (min-width: 1325px) {
  .split-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    max-width: 1600px;
  }
}

section {
  padding: 3rem 0;
}

.btn {
  font-size: var(--text-size-50);
}

.hero-guy {
  max-width: 15rem;
}

.btn {
  font-size: var(--text-size-50);
}

@media (max-width: 1024px) {
  #menu-checkbox:checked ~ .top-nav {
    background-color: var(--color-background-200);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: var(--text-size-100);
    align-items: center;
    gap: 1.5rem;
    padding: 3rem 2rem;
    z-index: 100;
    border: 1px solid var(--accent-color-150);
    border-radius: 1rem;
    width: 90%;
  }

  header {
    position: relative;
  }

  .top-nav {
    position: absolute;
    width: 100%;
    top: 6rem;
  }

  .top-nav a {
    border-bottom: 1px solid white;
    padding: 1rem;
  }

  .logo {
    width: 8rem;
  }
  .hero-guy {
    display: none;
  }
}

@keyframes animate {
  0% {
    width: 0%;
  }

  10% {
    witdh: 50%;
  }

  100% {
    width: 100%;
  }
}

.btn:hover {
  transform: scale(1.05);
}

.cta-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.hero-buttons {
  transition: 800ms ease;
}

.hero-buttons a {
  font-size: var(--text-size-100);
  border: solid 2px var(--main-text-color-light);
}

.cta,
.learn-more {
  transition: 300ms ease-in-out;
}

.cta {
  background-color: var(--accent-color-100);
  border-radius: 1em;
  padding: 0.7em 2em;
}
.cta:hover {
  background: var(--main-text-color-light);
  color: var(--accent-color-100);
  border-color: var(--accent-color-100);
}

.learn-more {
  padding: 0.7em;
}
.learn-more:hover {
  border-radius: 1rem;
}

/* homepage exhibits section */
.card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px;
  justify-content: center;
}

.card {
  width: 45ch;
  max-width: 90vw;
  overflow: hidden;
  border: solid var(--main-text-color-light) 0.1em;
  border-radius: 5%;
  transition: transform 300ms ease-in-out, border-radius 300ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  position: relative;
  flex-grow: 0;
}

.card-image {
  position: absolute;
  object-fit: cover;
  left: 0;
}

.vr-image {
  top: -12rem;
}

.card:hover,
.card:focus-within {
  transform: scale(1.05);
  border-radius: 10%;
  border-color: var(--accent-color-100);
}

.card-content {
  padding: 1.6em 0em 2em 1.6em;
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 0.8) 15%,
    hsl(0 0% 0% / 1)
  );
  min-height: 100%;
  text-align: center;
  width: inherit;
  z-index: 10;
  max-width: 100%;
}

.card-title {
  padding-bottom: 5rem;
  padding-top: 1rem;
}

.card-button {
  color: var(--accent-color-150);
  border: solid 1px;
  padding: 0.5em;
}

@media (hover) {
  .card-content {
    transform: translateY(60%);
    transition: transform 350ms ease;
  }

  .card:hover .card-content,
  .card:focus-within .card-content {
    transform: translateY(0%);
    transition-delay: 200ms;
  }
}

.new-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.new-image {
  display: flex;
  flex-direction: row;
}

.new-image img {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 80%;
  margin: auto;
  border-radius: 1rem;
}
.text p {
  text-align: start;
  max-width: 80ch;
}

.new,
.info-container {
  border: 2px solid white;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 3rem 0;
  border-radius: 1.3rem;
}

.new {
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to left, #0b6e56, #a226b2);
  gap: 3rem;
}

.info-container {
  flex-wrap: wrap;
  background-image: linear-gradient(to right, #0b6e56, #a226b2);
  gap: 5rem;
}

.info-container > * {
  text-align: center;
}

.map {
  border-radius: 2rem;
  max-width: 90%;
}

.info-button,
.back-to-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer {
  background-color: var(--color-background-);
  padding: 2rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container > div {
  width: 25rem;
  padding-left: 1rem;
}

.footer-container a {
  color: var(--accent-color-150);
  min-height: 48px;
  padding-top: 12px;
  margin-bottom: 0.5rem;
}

.footer-container .fa-brands {
  width: 25%;
}

.fa-brands {
  font-size: 3rem;
}

.glass-section {
  background-image: url(/assets/scott-webb-102825-min-min_11zon.jpg);
  background-size: cover;
  background-position: center;
}

.glass-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.glass-card {
  margin: 0 2rem 2rem 2rem;
  padding: 1rem 0 2rem 0;
  border: 2px solid white;
  border-radius: 1.3rem;
  text-align: center;
  width: 40ch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-darken);
}

.page-title {
  text-align: center;
}

h1,
h2 {
  font-family: "Michroma", sans-serif;
  text-align: center;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  filter: drop-shadow(0 0 0.3em #fff);
}

h3 {
  font-size: var(--text-size-100);
}

.price-row {
  display: flex;
  border-bottom: 1px solid white;
  max-width: 50%;
  margin: auto;
  justify-content: space-between;
}

.button {
  border: 1px solid white;
  border-radius: 5rem;
  padding: 0.4em 1.5em;
  font-weight: 600;
  font-size: 1.6em;
  transition: 300ms ease;
}

.button:hover {
  background-color: var(--main-text-color-light);
  color: var(--accent-color-100);
}

.section-features {
  background-color: var(--accent-color-100);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 0 5rem; */
  gap: 1rem;
}

.features-container {
  margin: 0;
}
.feature {
  max-width: 30rem;
  align-items: center;
  gap: 2rem;
}

.about {
  background-color: var(--accent-color-2);
}

.full-text {
  width: 75ch;
  max-width: 85%;
  margin: auto;
}

.split-container {
  padding: 1rem;
  margin: auto;
  display: grid;
  justify-content: center;
  gap: 2rem;
}

.split-container div {
  max-width: 75ch;
}

.reverse-wrap {
  flex-wrap: wrap-reverse;
}

.vr-section {
  background-color: #361e39;
}

.biology-section {
  background-color: hsl(165, 82%, 10%);
}

.robotics-section {
  background-color: #a226b2;
}

.for-kids-section {
  background-color: orange;
}

.exhibit-image {
  aspect-ratio: 4/3;
  object-fit: contain;
  object-position: center;
  border-radius: 1rem;
}

/* Contactpage */

.contact-row > * {
  width: 100%;
  /* max-width: 85vw; */
}

.contact-row input,
footer input {
  height: 5rem;
  margin-bottom: 2rem;
  border-radius: 15px;
}

.contact-message {
  min-height: 12rem;
}

.page-title-section,
.contact-form {
  margin: auto;
}

.contact-form {
  background-color: var(--background-darken);
  padding: 2rem;
  border: 2px solid white;
  border-radius: 2rem;
  width: 75ch;
  max-width: 90vw;
}

.form-section {
  background-image: linear-gradient(
    to bottom,
    #a226b2,
    #782c98,
    #522a7b,
    #34235c,
    #1d193b,
    #111c39,
    #0a1e34,
    #0a1f2e,
    #003242,
    #004650,
    #005a57,
    #0b6e56
  );
}

.contact-submit {
  color: var(--main-text-color-light);
  background-color: var(--accent-color-100);
  border: 2px solid var(--main-text-color-light);
}

.contact-submit:hover {
  background-color: var(--main-text-color-light);
  color: var(--accent-color-100);
  border-color: var(--accent-color-100);
}

.number {
  width: auto;
}

.number-label {
  width: fit-content;
}

.number-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
}
